@media (max-width: 991.98px) {
  h1.heading {
    font-size: 4.2rem;
    line-height: 1.19;
    letter-spacing: -1.68px;
  }

  h2.heading {
    font-size: 3.6rem;
    line-height: 1.16;
    letter-spacing: -1.44px;
  }

  h3.heading {
    font-size: 2.4rem;
    line-height: 1.41;
    letter-spacing: -0.96px;
  }

  /* ===== Header ===== */
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__container {
    border-bottom: 1px solid #d6d3e2;
    padding: 0 10px 30px 10px;
  }

  .header-email__link {
    font-size: 1.8rem;
  }

  .header__logo {
    top: 35%;
  }

  .header .navbar {
    margin-left: auto;
  }

  .header .navbar__item + .navbar__item {
    margin-left: 12px;
  }

  .header .navbar__link {
    font-size: 1.6rem;
  }

  /* ===== Hero ===== */
  .hero__row {
    flex-direction: column-reverse;
  }

  .hero__images {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

  .hero__img {
    width: 65%;
  }

  .hero-cta {
    margin-top: 40px;
  }

  .hero-social {
    margin-top: 20px;
  }

  /* ===== Company ===== */
  h2.company__heading {
    padding: 0;
    font-size: 2.8rem;
    line-height: 1.21;
    letter-spacing: -1.12px;
    text-align: center;
  }

  .company__heading::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    translate: -50% 0;
    width: 48px;
    height: 2px;
    background-color: var(--primary-color);
  }

  .company__list {
    margin-top: 50px;
    justify-content: center;
  }

  /* ===== Services ===== */
  .services__desc {
    width: 90%;
  }

  .services__direction {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .services__list > div:last-child,
  .services__list > div:nth-child(2) {
    display: none;
  }

  /* ===== Projects ===== */
  .projects__heading {
    text-align: center;
  }

  .projects__desc {
    width: 90%;
    margin: 20px auto 0;
    text-align: center;
  }

  .projects-item {
    padding: 20px 15px;
    column-gap: 10px;
  }

  .projects-item__desc {
    --line-clamp: 3;
    font-size: 1.4rem;
  }

  .projects-item__link {
    font-size: 1.6rem;
  }

  .projects-item-image img {
    width: 122px;
    height: 93px;
  }

  .projects__btn {
    margin-top: 50px;
  }

  .projects-item__background-left {
    width: 320px;
    top: 0%;
    left: 30%;
  }

  .projects-item__background-right {
    width: 220px;
    top: -50%;
    right: -23%;
  }

  /* ===== About ===== */
  .about {
    margin-top: 120px;
  }

  .about__text {
    font-size: 2rem;
    line-height: 2;
    letter-spacing: -0.8px;
  }

  .about__text img {
    width: 18px;
    height: 18px;
  }

  .about__number {
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.9px;
  }

  .about__title {
    line-height: 1.37;
  }

  .about__video {
    margin-top: 40px;
  }

  /* ===== Feedback ===== */
  .feedback {
    padding-top: 300px;
    top: -200px;
  }

  .feedback__text {
    width: 80%;
  }

  /* ===== Questions ===== */
  .questions {
    margin-top: -80px;
  }

  .questions__item {
    width: 100%;
  }

  .question__text {
    width: 70%;
  }

  /* ===== Atmosphere ===== */
  .atmosphere {
    margin-top: 120px;
  }

  .atmosphere__desc {
    width: 80%;
  }

  .atmosphere__link {
    font-size: 2.5rem;
  }

  .atmosphere__img {
    width: 100%;
    height: 503px;
  }

  .atmosphere__direction {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  /* ===== Banner ===== */
  .banner {
    width: 100%;
  }

  .banner__icon {
    width: 48px;
    height: 48px;
  }

  .banner__desc {
    width: 70%;
  }

  .banner__background-1 {
    width: 100%;
    left: 50%;
    translate: -50% 0;
  }

  .banner__background-2,
  .banner__background-3 {
    display: none;
  }

  /* ===== Footer ===== */
  .footer {
    margin-top: 120px;
    padding-top: 100px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__logo {
    top: -50%;
  }

  .footer__container .navbar {
    order: 1;
  }

  .footer-email {
    order: 2;
    margin-top: 50px;
  }

  .footer__bottom {
    max-width: 100%;
    padding: 20px 30px 30px;
  }
}

@media (max-width: 575.98px) {
  /* ===== Header ===== */
  .header__container {
    max-width: 100%;
    padding-bottom: 20px;
    justify-content: flex-end;
    column-gap: 15px;
  }

  .header__logo {
    width: 80px;
    height: 80px;
    top: 40%;
    left: 30px;
  }

  .header-email__link {
    display: none;
  }

  .header .navbar {
    display: none;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
  }

  .menu-icon__line {
    width: 20px;
    height: 2px;
    background-color: var(--primary-color);
  }

  .menu-nav {
    position: relative;
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    transition: all 0.3s;
  }

  .menu-nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-nav .navbar__item + .navbar__item {
    margin-left: 0;
    margin-top: 50px;
  }

  .menu-nav .navbar__item:first-child {
    width: 100px;
    height: 100px;
  }

  .menu-nav .header__logo {
    position: static;
    translate: 0;
    width: 100%;
  }

  .menu-nav .navbar__link {
    font-size: 2.2rem;
  }

  .menu-nav .close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }

  .menu__checkbox:checked ~ .menu-nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }

  /* ===== Hero ===== */
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero h1.heading {
    width: 70%;
    line-height: 1.19;
  }

  .hero__desc {
    font-size: 1.6rem;
  }

  .hero-cta {
    margin-top: 30px;
  }

  .hero__background--large {
    width: 110%;
    left: 50%;
    translate: -50% 0;
  }

  .hero__background--small {
    display: none;
  }

  /* ===== Company ===== */
  .company__list {
    padding: 0 20px;
    row-gap: 30px;
  }

  /* ===== Services ===== */
  .services {
    padding: 0 20px;
  }

  /* ===== Projects ===== */
  .projects {
    padding: 60px 20px;
  }

  /* ===== About ===== */
  .about {
    padding: 0 20px;
  }

  .about__desc {
    width: 100%;
    margin-bottom: 50px;
  }

  .about__content {
    width: 100%;
    padding: 30px 15px;
    column-gap: 40px;
  }

  .about__title {
    font-size: 1.6rem;
  }

  .about__play {
    width: 77px;
    height: 77px;
  }

  .about__video {
    width: 100%;
    height: 276px;
  }

  .about__img {
    height: 100%;
  }

  .about__btn {
    padding: 15px 20px;
    font-size: 1.2rem;
  }

  /* ===== Feedback ===== */
  .feedback {
    padding: 250px 20px 70px;
    top: -150px;
  }

  .feedback__desc {
    margin-bottom: 40px;
    width: 100%;
    font-size: 1.6rem;
  }

  .feedback__text {
    width: 100%;
    margin: 0;
    font-size: 1.8rem;
  }

  .feedback__name {
    font-size: 2.4rem;
  }

  .feedback__job {
    margin-top: 10px;
  }

  .feedback__background-1,
  .feedback__background-2 {
    width: 96px;
  }

  .feedback__background-1 {
    left: -36px;
    bottom: -30px;
  }

  .feedback__background-2 {
    right: -36px;
    bottom: -30px;
  }

  /* ===== Questions ===== */
  .questions {
    margin-top: -50px;
    padding: 0 20px;
  }

  .questions__heading {
    margin-bottom: 40px;
  }

  .questions__item + .questions__item {
    margin-top: 40px;
  }

  .questions__title {
    font-size: 2.4rem;
    letter-spacing: -0.96px;
  }

  .question__btn {
    width: 33px;
    height: 33px;
    font-size: 2.3rem;
    flex-shrink: 0;
  }

  .question__text {
    width: 90%;
    font-size: 1.6rem;
  }

  .question__radio:checked ~ .question__text {
    margin-top: 15px;
    height: 60px;
  }

  /* ===== Atmosphere ===== */
  .atmosphere {
    padding: 0 20px;
  }

  .atmosphere__desc {
    width: 100%;
    font-size: 1.6rem;
  }

  .atmosphere__link {
    font-size: 2rem;
  }

  .atmosphere__link::after {
    bottom: 0;
  }

  .atmosphere__images {
    margin-top: 60px;
  }

  /* ===== Banner ===== */
  .banner {
    padding: 36px 0;
  }

  .banner__heading {
    width: 60%;
    text-align: center;
  }

  .banner__desc {
    width: 87%;
    font-size: 1.6rem;
  }

  /* ===== Footer ===== */
  .footer {
    position: relative;
  }

  .footer .navbar__item + .navbar__item {
    margin-left: 20px;
  }

  .footer__bottom {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }

  .footer__policy {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 100px;
    translate: -34% 0;
  }
}
